.main {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 100;
  border-top: 5px solid rgba(252, 236, 7, 0.397);
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 8.15rem;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Arial Narrow Bold", sans-serif;
}
.column {
  margin: 0.9375rem;
}
.column div {
  margin: 1.25rem;
}
.social div {
  display: flex;
  flex-direction: row;
}
.social svg {
  cursor: pointer;
  font-size: 2em;
}
.social svg:hover {
  fill: yellow;
}
