html,
body {
  background-color: rgba(29, 29, 29, 0.83);
  padding: 0;
  margin: 0;
  font-family: "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: 1.5px;
}

a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-family: "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  box-sizing: border-box;
  color: white;
}
