.main {
  height: 27.5rem;
  padding: 3em 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.main img {
  margin: 20px;
  height: 40vmin;
}
.presentation h1 {
  margin: 0;
  font-size: 2.8rem;
  color: rgb(232, 255, 127);
}
.presentation h3 {
  font-size: 1rem;
  color: rgb(179, 179, 179);
  width: 20em;
  line-height: 1.5em;
}
.presentation button {
  cursor: pointer;
  font-family: "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0.5em;
  font-size: 1.5rem;
  border: none;
  background-color: rgba(5, 5, 5, 0.549);
}
.presentation button:hover {
  background-color: rgba(5, 5, 5, 0.618);
}
