.title {
  text-align: center;
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-gap: 1em;
  justify-items: center;
  margin-bottom: 100px;
}

.project {
  text-align: center;
}
.name {
  font-size: 30px;
  color: var(--gray);
}
.technologies {
  color: var(--gray);
}
.project img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  max-width: 18.625em;
  border-radius: 5%;
}
.project img:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
