.title {
  text-align: center;
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  grid-gap: 1em;
  justify-items: center;
}

.proyect {
  text-align: center;
}
.name {
  color: rgb(179, 179, 179);
}
.technologies {
  color: rgb(179, 179, 179);
}
.proyect img {
  cursor:pointer;
  max-width: 15.625em;
  border-radius: 5%;
}
.proyect img:hover{
  transform: scale(1.1);
}
