.title {
  text-align: center;
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 1em;
  justify-items: center;
}

.proyect {
  border: 1px solid black;
}
.name {
  color: rgb(179, 179, 179);
}
.technologies {
  color: rgb(179, 179, 179);
}
.proyect img {
  width: 17.625em;
  border-radius: 5%;
}
