.title {
  text-align: center;
}
.text {
  margin: 50px;
  width: 300px;
}
.details {
  display: flex;
  flex-wrap: wrap;
}
.details img {
  height: auto;
  max-height: 400px;
  max-width: 90%;
  padding: 25px;
}
.link {
  margin-top: 30px;
  background-color: #d1c409;
  font-family: Maison Neue,sans-serif;
    font-weight: 700;
    font-size: 15px;
    font-size: .8125rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    padding: 12px 0 11px;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 2px;
    width: 100px;
    color: #000;
    display: block;
}
.link:hover {
  background-color: #968c08;
}
