.title {
  text-align: center;
}
.details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.details img {
  height: auto;
  max-height: 400px;
  max-width: 90%;
  padding: 25px;
}
.link {
  display: block;
  background-color: rgba(128, 128, 128, 0.479);
  font-size: 16px;
  color: var(--white);
  line-height: 1.2;
  width: 100px;
  height: 30px;
  padding: 10px 10px;
  margin: 5px;
  outline: none;
  border: 1px solid #ffffff2b;
  text-align: center;
}
.link:hover {
  border: 1px solid #ffffff9c;
}
