@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.main {
  width: 100%;
  height: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  box-shadow: 0 3px 20px 3px rgb(242 232 0 / 20%);
  color: var(--white);
  font-size: 1.2rem;
  font-family: 'Bebas Neue', sans-serif;
}
.logo {
  font-size: 2.55rem;
  color: var(--yellow);
  margin-right: 40%;
  cursor: pointer;
}
.left {
  display: flex;
}
.left div {
  cursor: pointer;
  margin-left: 1.45rem;
}

.left div {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.left div:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--yellow);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.left div:hover:before {
  right: 0;
}

@media only screen and (max-width: 992px) {
  .logo {
    margin-right: 20%;
  }
}
